# NOTE: These settings can be overridden by environment variables as well, in
# particular:
#
#    PGHOST
#    PGPORT
#    PGUSER
#    PGPASS
#    PGDATABASE

Default: &defaults
  user: two_wrongs
  password: two_wrongs
  host: localhost
  port: 5432
  database: two_wrongs
  poolsize: 10

Development:
  <<: *defaults

Testing:
  database: two-wrongs_test
  <<: *defaults

Staging:
  database: two-wrongs_staging
  poolsize: 100
  <<: *defaults

Production:
  database: two-wrongs_production
  poolsize: 100
  <<: *defaults
